<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="angularjs, javascript, ui development, controller, directive, module, Filter, Databinding, Dependancy injection, service, ui route, transclusion, angular validation, scope, scope inheritance">
	  <meta name="keywords" content="angularjs, javascript, ui development, controller, directive, module, Filter, Databinding, Dependancy injection, service, ui route, transclusion, angular validation, scope, scope inheritance">
  	<meta name="author" content="Prabakaran">
    <title>UI Tutorials | Welcome</title>
    
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">    
    <link rel="stylesheet" type="text/css" href="../css/MenuStyle.css">
        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="../scripts/menuScript.js"></script>
    <link rel="stylesheet" href="../css/SiteStyle.css">
    <link rel="stylesheet" type="text/css" href="../css/prism.css">
    <script src="../scripts/prism.js"></script>
    
  
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-103420198-1', 'auto');
  ga('send', 'pageview');

</script>

</head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">UI</span> Tutorials</h1>
        </div>
        <nav id='cssmenu'>            
            <div id="head-mobile"></div>
            <div class="button"></div>
            <ul>
                <li><a href="../index.html">HOME</a></li>
                <li><a href='#'>Bootstrap</a></li>
                <li class='active'><a href="#">AngularJS</a>
                  <ul>
                    <li><a href='#'>Introduction</a>
                      <ul>
                        <li><a href="01_AngularIntro_Index.html">Basic</a></li>
                        <li><a href="03_AngularIntro_Module.html">Module</a></li>
                        <li><a href="02_AngularIntro_Controller.html">Controller MVC</a>
                        	<ul>
                            	<li><a href='01_Scope_inheritance_index.html'>Scoope Inheritance</a></li>
                            </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a href='#'>Angular DOM</a>
                      <ul>
                        <li><a href="01_AngularDOM_events.html">Events</a></li>
                        <li><a href="03_AngularDOM_ngShow.html">ng Show</a></li>
                        <li><a href="02_AngularDOM_ngHide.html">ng Hide</a></li>
                      </ul>
                    </li>
                    <li><a href='#'>Filter</a>
                      <ul>
                        <li><a href="02_FilterIndex_FormatData.html">Format Data</a></li>
                        <li><a href="03_Filter_SortData.html">Sort Data</a></li>
                        <li><a href="01_FilterData.html">Filter Data</a></li>
                      </ul>
                    </li>
                    <li><a href='#'>Form</a>
                      <ul>
                        <li><a href="01Form_index.html">Form</a></li>
                        <li><a href="03_AngularDOM_ngShow.html">CheckBox</a></li>
                        <li><a href="02_AngularDOM_ngHide.html">ShowHide</a></li>
                        <li><a href="01_AngularDOM_events.html">RadioButton</a></li>
                        <li><a href="01_AngularDOM_events.html">TrackingEvents</a></li>
                        <li><a href="01_AngularDOM_events.html">Validation</a></li>
                        <li><a href="01_AngularDOM_events.html">NestedValidation</a></li>
                        <li><a href="01_AngularDOM_events.html">FormSubmission</a></li>
                        <li><a href="#">Select Element</a>
                          <ul>
                            <li><a href="09SelectDD_htmlIndex.html">Html</a></li>
                            <li><a href="09SelectDD_arrayIndex.html">Array</a></li>
                            <li><a href="09SelectDD_objectIndex.html">Object</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a href='#'>Service</a>
                      <ul>                                
                        <li><a href="01_Service_index.html">Index</a></li>
                      </ul>
                    </li>
                    <li><a href='#'>Directive</a>
                      <ul>
                        <li><a href='00_Directive_index.html'>Index</a></li>
                        <li><a href="#">Shared Scope</a>
                          <ul>
                            <li><a href='02_SharedScope_index.html'>SharedScope(SS)</a></li>
                            <li><a href='03_Shared_Scope_index.html'>SS-Modifying</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Inherited Scope</a>
                          <ul>
                            <li><a href='04_Inherited_ScopeChild_index.html'>InheritedScope(Child)</a></li>
                            <li><a href='05_Child_index.html'>Child-Directive</a></li>
                            <li><a href='06_Child_index.html'>Child-ng Repeat</a></li>
                          </ul>
                        </li>
                        
                        
                        <li><a href="#">IsolatedScope</a>
                          <ul>
                            <li><a href='07_Isolated_Scope_index2.html'>IsolatedScope @</a></li>
                            <li><a href='08_Isolated_Scope_index2.html'>IsolatedScope =</a></li>
                            <li><a href='09_Isolated_Scope_index2.html'>IsolatedScope &amp;</a></li>
                          </ul>
                        </li>
                        
                        <li><a href='#'>Directive Compile</a>
                          <ul>
                            <li><a href='01_Directive_Compile_compile.html'>Compile</a></li>
                            <li><a href='02_ Directive_Compile_controller.html'>Controller</a></li>
                            <li><a href='03_Directive_Compile_PrePostLink.html'>LinkPrePost</a></li>
                            <li><a href='04_Directive_Compile_compileCtrlLink.html'>CompileControllerLink</a></li>
                          </ul>
                        </li>
                        <li><a href='#'>Directive Link</a>
                          <ul>
                            <li><a href='01_Directive_Link_interpolation.html'>Interpolation</a></li>
                            <li><a href='02_Directive_Link_modifyDomInCompile.html'>ModifyDom</a></li>
                            <li><a href='03_Directive_Link_DomEventHandler.html'>EventHandler</a></li>
                            <li><a href='04_Directive_Link_WithoutCompile.html'>WithoutCompile</a></li>
                            <li><a href='05_Directive_Link_CompileReturn.html'>CompileReturn</a></li>
                            <li><a href='06_Directive_Link_PostOnly.html'>PostOnly</a></li>
                          </ul>
                        </li>
                        
                      </ul>
                    </li><li><a href='#'>Data Binding</a>
                      <ul>
                        <li><a href="00_Component_DataBinding.html">Binding</a></li>
                        <li><a href="01_Component_ApplyExample.html">Apply</a></li>
                        <li><a href="05_Component_watchapply.html">WatchApply</a></li>
                        <li><a href="06_Component_withoutApply.html">WatchWithoutApply</a></li>
                        <li><a href="02_Component_Emit.html">Emit</a></li>
                        <li><a href="03_Component_NestedEmit.html">NestedEmit</a></li>
                        <li><a href="04_Component_SiblingEmit.html">SiblingEmit</a></li>
                      </ul>
                    </li>  <li><a href='#'>Routing</a>
                      <ul>
                        <li><a href="01_Route_index.html">Index</a></li>
                        <li><a href="#">Code</a>
                          <ul>
                            
                            <li><a href="02_Route_Intro.html">Intro Routing</a></li>
                            <li><a href="03_Route_Parameters.html">Parameters</a></li>
                            <li><a href="04_Route_Async.html">Asynchronous</a></li>
                            <li><a href="05_Route_Redirect.html">Redirect</a></li>
                            <li><a href="06_Route_events.html">Events</a></li>
                            <li><a href="Routing/code/06 Route-routeService-events with Loading/index.htm">With Loading</a></li>
                            <li><a href="Routing/code/07 Route-routeService-with-resolve/index.htm">With Resolve</a></li>
                          </ul>
                          
                        </li>
                        
                      </ul>
                    </li>
                    <li><a href='#'>UI Route</a>
                      <ul>


                        <li><a href="01UiRoute_index.html">Index</a></li>
                        <li><a href="#">Code</a>
                          <ul>
                            
                            <li><a href="02UIRoute_Intro_Routing_index.html">Intro Routing</a></li>
                            <li><a href="03_UIRoute_RouteWithParams.html">Parameters</a></li>
                            <li><a href="04_UIRoute_StateService.html">State</a></li>
                            <li><a href="05_UIRoute_WithResolve.html">Resolve</a></li>
                            <li><a href="06_UIRoute_SingleView.html">SingleView</a></li>
                            <li><a href="07_UIRoute_MultipleViews.html">MultipleView</a></li>
                            
                          </ul>
                          
                        </li>
                        
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href='#'>Javascript</a></li>
                <li><a href='#'>NodeJS</a></li>
                
              </ul>
        </nav>
      </div>
    </header>

    <!--<section id="newsletter">
      <div class="container">
        <h1>Subscribe To Our Newsletter</h1>
        <form>
          <input type="email" placeholder="Enter Email...">
          <button type="submit" class="button_1">Subscribe</button>
        </form>
      </div>
    </section>-->

<section id="main">
      <div class="container">
    <article id="main-col">
    <h1>Routing in AngularJS</h1>   
    <p>Routing in AngularJS is one of the core feature. </p>
    <h3>ngRoute</h3>
    <p>AngularJS ngRoute module provides routing, deep linking services and directives for angular applications. We have to download <code>angular-route.js</code> script that contains the ngRoute module from <a title="AngularJS" href="https://angularjs.org/" rel="nofollow" target="_blank">AngularJS official website</a> to use the routing feature.</p>
    <p>You can also use the CDN in your application to include this file. In this tutorial, We are going to use the Google CDN.</p>
    <pre><code class="language-javascript">
    https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28//angular-route.min.js
    </code></pre>
    <h3>ngView</h3>
    <p>ngView directive is used to display the HTML templates or views in the specified routes. Every time the current route changes, the included view changes with it according to the configuration of the $route service.</p>
    <h3>$routeProvider</h3>
    <p>$routeProvider is used to configure the routes. We use the ngRoute config() to configure the $routeProvider. The <code>config()</code> takes a function which takes the <code>$routeProvider</code> as parameter and the routing configuration goes inside the function.</p>
    <p>$routeProvider has a simple API, accepting either the <code>when()</code> or <code>otherwise()</code> method.</p>
    <h3>AngularJS Routing Syntax</h3>
    <p>The following syntax is used to configure the routes in AngularJS.</p>
          <span class="filename">Syntax</span>
    <pre><code class="language-javascript">
    var app = angular.module("appName", ['ngRoute']);

app.config(function($routeProvider) {
	$routeProvider
		.when('/view1', {
			templateUrl: 'view1.html',
			controller: 'FirstController'
		})
		.when('/view2', {
			templateUrl: 'view2.html',
			controller: 'SecondController'
		})
		.otherwise({
			redirectTo: '/view1'
		});
});
   
    </code></pre>
    <p><code>when()</code> method takes a <strong>path</strong>and a <strong>route</strong> as parameters.</p>
    <p><strong>path</strong> is a part of the URL after the # symbol.</p>
    <p><strong>route</strong> contains two properties - <code>templateUrl</code> and <code>controller</code>.</p>
    <p><strong>templateUrl</strong> property defines which HTML template AngularJS should load and display inside the div with the <code>ngView</code> directive.</p>
    <p><strong>controller</strong> property defines which controllers should be used with the HTML template.</p>
    <p>When the application is loaded, <strong>path</strong> is matched against the part of the URL after the # symbol. If no route paths matches the given URL the browser will be redirected to the path specified in the otherwise() function.</p>
    <h2>AngularJS Routing Example</h2>
    <p>Now let's go through a simple example to understand the AngularJS rounting. At first, we will define a module, some routes, create controllers and create multiple views. Finally, we will create the shell page of our application to hold the multiple views.</p>
    <ol>
    <li>Create a module named <code>mainApp</code> and load <code>ngRoute</code> as a dependent module.</li>
    <li>Configure the routes using <code>$routeProvider</code>.</li>
    <li>We use two <strong>paths</strong> in the example, <strong>/home and /viewStudents</strong>.</li>
    <li>We use only a single controller in this example, <code>StudentController</code></li>
    <li><code>StudentController</code> is initialized with an array of <strong>students</strong> and a <strong>message</strong>. We will be showing the message in the home page and the students list in viewStudents page.</li>
    <li>Save this file as <code>main.js</code></li>
</ol>
	
<span class="filename">Example : main.js</span>
    <pre><code class="language-javascript">
    var mainApp = angular.module("mainApp", ['ngRoute']);

mainApp.config(function($routeProvider) {
    $routeProvider
        .when('/home', {
            templateUrl: 'home.html',
            controller: 'StudentController'
        })
        .when('/viewStudents', {
            templateUrl: 'viewStudents.html',
            controller: 'StudentController'
        })
        .otherwise({
            redirectTo: '/home'
        });
});

mainApp.controller('StudentController', function($scope) {
    $scope.students = [
        { name: 'Mark Waugh', city: 'New York' },
        { name: 'Steve Jonathan', city: 'London' },
        { name: 'John Marcus', city: 'Paris' }
    ];

    $scope.message = "Click on the hyper link to view the students list.";
});
    </code></pre>
    < p > For example,
    if the URL is like http: //www.abcxyz.com/index.html#/home, The URL part after the # matches&nbsp;<code>/home</code>, it will load <code>home.html</code> page and if it matches&nbsp;<code>/viewStudents</code> then it will load <code>viewStudents.html</code> in to the shell page. If nothing matches then it will go in otherwise condition and page will be redirected to <code>home.html</code>.</p>
    <p>Now we can create our views and save as <code>home.html</code> and <code>viewStudents.html</code> files.</p>
    <span class="filename">Example : home.html</span>
    <pre><code class="language-html">
    &lt;div class="container"&gt;
    &lt;h2&gt; Welcome &lt;/h2&gt;
    &lt;p&gt;{{message}}&lt;/p&gt;
    &lt;a href="#/viewStudents"&gt; View Students List&lt;/a&gt;
&lt;/div&gt;
    </code></pre>
    <p>This is the default page of our application. In this view, we just print out the message, which we have already initialized in the <strong>StudentController</strong>. You can also see a link to the <code>viewStudents</code> page.</p>
    <span class="filename">Example : viewStudents.html</span>
    <pre><code class="language-html">
    &lt;div class="container"&gt;
    &lt;h2&gt; View Students &lt;/h2&gt;
    Search:
    &lt;br/&gt;
    &lt;input type="text" ng-model="name" /&gt;
    &lt;br/&gt;
    &lt;ul&gt;
        &lt;li ng-repeat="student in students | filter:name"&gt;{{student.name}} , {{student.city}}&lt;/li&gt;
    &lt;/ul&gt;

    &lt;a href="#/home"&gt; Back&lt;/a&gt;
&lt;/div&gt;
    </code></pre>
    <p>In the above view, you can see a list of students with a search option.</p>
    <p>Finally, follow below steps to complete our AngularJS routing example application.</p>
    <ul>
    <li><code>ng-app</code>&nbsp;auto-bootstraps our application <strong>mainApp</strong></li>
    <li><code>ngView</code> directive is the placeholder of the views - <code>home.html</code> and <code>viewStudents.html</code></li>
    <li>Include <code>angular.min.js</code> and <code>angular-route.min.js</code></li>
    <li>Include <code>main.js</code> which we have created in the earlier steps.</li>
    <li>Save the file as <code>index.html</code></li>
</ul>
<span class="filename">Example : index.html</span>
    <pre><code class="language-html">
    &lt;!DOCTYPE html&gt;
&lt;html&gt;

&lt;head lang="en"&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;title&gt;AngularJS Routing&lt;/title&gt;

&lt;/head&gt;

&lt;body&gt;

    &lt;div ng-app="mainApp"&gt;
        &lt;ng-view&gt;&lt;/ng-view&gt;
    &lt;/div&gt;

    &lt;script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"&gt;&lt;/script&gt;
    &lt;script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28//angular-route.min.js"&gt;&lt;/script&gt;
    &lt;script type="text/javascript" src="main.js"&gt;&lt;/script&gt;
&lt;/body&gt;

&lt;/html&gt;
    </code></pre>
    </article>
    <aside id="sidebar">
          <div class="dark">
        <h3>What We Do</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius auctor lacus nec feugiat. Phasellus sit amet ex ipsum. Praesent pharetra tincidunt tempor. Etiam velit eros, dapibus eget porta in, lacinia et magna</p>
      </div>
        </aside>
  </div>
    </section>
<footer>
      <p>UI Tutorials, Copyright &copy; 2017</p>
    </footer>
</body>
</html>
