<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="angularjs, javascript, ui development, controller, directive, module, Filter, Databinding, Dependancy injection, service, ui route, transclusion, angular validation, scope, scope inheritance">
	  <meta name="keywords" content="angularjs, javascript, ui development, controller, directive, module, Filter, Databinding, Dependancy injection, service, ui route, transclusion, angular validation, scope, scope inheritance">
  	<meta name="author" content="Prabakaran">
    <title>UI Tutorials | Welcome</title>
    
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">    
    <link rel="stylesheet" type="text/css" href="../css/MenuStyle.css">
        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="../scripts/menuScript.js"></script>
    <link rel="stylesheet" href="../css/SiteStyle.css">
    <link rel="stylesheet" type="text/css" href="../css/prism.css">
    <script src="../scripts/prism.js"></script>
    
  
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-103420198-1', 'auto');
  ga('send', 'pageview');

</script>

</head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">UI</span> Tutorials</h1>
        </div>
        <nav id='cssmenu'>            
            <div id="head-mobile"></div>
            <div class="button"></div>
            <ul>
                <li><a href="../index.html">HOME</a></li>
                <li><a href='#'>Bootstrap</a></li>
                <li class='active'><a href="#">AngularJS</a>
                  <ul>
                    <li><a href='#'>Introduction</a>
                      <ul>
                        <li><a href="01_AngularIntro_Index.html">Basic</a></li>
                        <li><a href="03_AngularIntro_Module.html">Module</a></li>
                        <li><a href="02_AngularIntro_Controller.html">Controller MVC</a>
                        	<ul>
                            	<li><a href='01_Scope_inheritance_index.html'>Scoope Inheritance</a></li>
                            </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a href='#'>Angular DOM</a>
                      <ul>
                        <li><a href="01_AngularDOM_events.html">Events</a></li>
                        <li><a href="03_AngularDOM_ngShow.html">ng Show</a></li>
                        <li><a href="02_AngularDOM_ngHide.html">ng Hide</a></li>
                      </ul>
                    </li>
                    <li><a href='#'>Filter</a>
                      <ul>
                        <li><a href="02_FilterIndex_FormatData.html">Format Data</a></li>
                        <li><a href="03_Filter_SortData.html">Sort Data</a></li>
                        <li><a href="01_FilterData.html">Filter Data</a></li>
                      </ul>
                    </li>
                    <li><a href='#'>Form</a>
                      <ul>
                        <li><a href="01Form_index.html">Form</a></li>
                        <li><a href="03_AngularDOM_ngShow.html">CheckBox</a></li>
                        <li><a href="02_AngularDOM_ngHide.html">ShowHide</a></li>
                        <li><a href="01_AngularDOM_events.html">RadioButton</a></li>
                        <li><a href="01_AngularDOM_events.html">TrackingEvents</a></li>
                        <li><a href="01_AngularDOM_events.html">Validation</a></li>
                        <li><a href="01_AngularDOM_events.html">NestedValidation</a></li>
                        <li><a href="01_AngularDOM_events.html">FormSubmission</a></li>
                        <li><a href="#">Select Element</a>
                          <ul>
                            <li><a href="09SelectDD_htmlIndex.html">Html</a></li>
                            <li><a href="09SelectDD_arrayIndex.html">Array</a></li>
                            <li><a href="09SelectDD_objectIndex.html">Object</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a href='#'>Service</a>
                      <ul>                                
                        <li><a href="01_Service_index.html">Index</a></li>
                      </ul>
                    </li>
                    <li><a href='#'>Directive</a>
                      <ul>
                        <li><a href='00_Directive_index.html'>Index</a></li>
                        <li><a href="#">Shared Scope</a>
                          <ul>
                            <li><a href='02_SharedScope_index.html'>SharedScope(SS)</a></li>
                            <li><a href='03_Shared_Scope_index.html'>SS-Modifying</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Inherited Scope</a>
                          <ul>
                            <li><a href='04_Inherited_ScopeChild_index.html'>InheritedScope(Child)</a></li>
                            <li><a href='05_Child_index.html'>Child-Directive</a></li>
                            <li><a href='06_Child_index.html'>Child-ng Repeat</a></li>
                          </ul>
                        </li>
                        
                        
                        <li><a href="#">IsolatedScope</a>
                          <ul>
                            <li><a href='07_Isolated_Scope_index2.html'>IsolatedScope @</a></li>
                            <li><a href='08_Isolated_Scope_index2.html'>IsolatedScope =</a></li>
                            <li><a href='09_Isolated_Scope_index2.html'>IsolatedScope &amp;</a></li>
                          </ul>
                        </li>
                        
                        <li><a href='#'>Directive Compile</a>
                          <ul>
                            <li><a href='01_Directive_Compile_compile.html'>Compile</a></li>
                            <li><a href='02_ Directive_Compile_controller.html'>Controller</a></li>
                            <li><a href='03_Directive_Compile_PrePostLink.html'>LinkPrePost</a></li>
                            <li><a href='04_Directive_Compile_compileCtrlLink.html'>CompileControllerLink</a></li>
                          </ul>
                        </li>
                        <li><a href='#'>Directive Link</a>
                          <ul>
                            <li><a href='01_Directive_Link_interpolation.html'>Interpolation</a></li>
                            <li><a href='02_Directive_Link_modifyDomInCompile.html'>ModifyDom</a></li>
                            <li><a href='03_Directive_Link_DomEventHandler.html'>EventHandler</a></li>
                            <li><a href='04_Directive_Link_WithoutCompile.html'>WithoutCompile</a></li>
                            <li><a href='05_Directive_Link_CompileReturn.html'>CompileReturn</a></li>
                            <li><a href='06_Directive_Link_PostOnly.html'>PostOnly</a></li>
                          </ul>
                        </li>
                        
                      </ul>
                    </li><li><a href='#'>Data Binding</a>
                      <ul>
                        <li><a href="00_Component_DataBinding.html">Binding</a></li>
                        <li><a href="01_Component_ApplyExample.html">Apply</a></li>
                        <li><a href="05_Component_watchapply.html">WatchApply</a></li>
                        <li><a href="06_Component_withoutApply.html">WatchWithoutApply</a></li>
                        <li><a href="02_Component_Emit.html">Emit</a></li>
                        <li><a href="03_Component_NestedEmit.html">NestedEmit</a></li>
                        <li><a href="04_Component_SiblingEmit.html">SiblingEmit</a></li>
                      </ul>
                    </li>  <li><a href='#'>Routing</a>
                      <ul>
                        <li><a href="01_Route_index.html">Index</a></li>
                        <li><a href="#">Code</a>
                          <ul>
                            
                            <li><a href="02_Route_Intro.html">Intro Routing</a></li>
                            <li><a href="03_Route_Parameters.html">Parameters</a></li>
                            <li><a href="04_Route_Async.html">Asynchronous</a></li>
                            <li><a href="05_Route_Redirect.html">Redirect</a></li>
                            <li><a href="06_Route_events.html">Events</a></li>
                            <li><a href="Routing/code/06 Route-routeService-events with Loading/index.htm">With Loading</a></li>
                            <li><a href="Routing/code/07 Route-routeService-with-resolve/index.htm">With Resolve</a></li>
                          </ul>
                          
                        </li>
                        
                      </ul>
                    </li>
                    <li><a href='#'>UI Route</a>
                      <ul>


                        <li><a href="01UiRoute_index.html">Index</a></li>
                        <li><a href="#">Code</a>
                          <ul>
                            
                            <li><a href="02UIRoute_Intro_Routing_index.html">Intro Routing</a></li>
                            <li><a href="03_UIRoute_RouteWithParams.html">Parameters</a></li>
                            <li><a href="04_UIRoute_StateService.html">State</a></li>
                            <li><a href="05_UIRoute_WithResolve.html">Resolve</a></li>
                            <li><a href="06_UIRoute_SingleView.html">SingleView</a></li>
                            <li><a href="07_UIRoute_MultipleViews.html">MultipleView</a></li>
                            
                          </ul>
                          
                        </li>
                        
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href='#'>Javascript</a></li>
                <li><a href='#'>NodeJS</a></li>
                
              </ul>
        </nav>
      </div>
    </header>

    <!--<section id="newsletter">
      <div class="container">
        <h1>Subscribe To Our Newsletter</h1>
        <form>
          <input type="email" placeholder="Enter Email...">
          <button type="submit" class="button_1">Subscribe</button>
        </form>
      </div>
    </section>-->

<section id="main">
      <div class="container">
    <article id="main-col">
    <h1>2 Routing Parameters</h1>   
          <span class="filename">Example : index.html</span>
    <pre><code class="language-html">
    &lt;!DOCTYPE html&gt;
&lt;html&gt;

&lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;title&gt;Angular Intro&lt;/title&gt;
    &lt;link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"&gt;
    &lt;script src="http://code.angularjs.org/1.2.13/angular.js"&gt;&lt;/script&gt;
    &lt;script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"&gt;&lt;/script&gt;
    &lt;script src="app.js"&gt;&lt;/script&gt;
&lt;/head&gt;

&lt;body ng-app="app"&gt;
    &lt;div class="row"&gt;
        &lt;div class="col-sm-12 well"&gt;
            header | &lt;a href="#/"&gt;Home&lt;/a&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="row" style="height:500px;"&gt;
        &lt;div class="col-sm-3 well" style="height:100%"&gt;
            &lt;ul&gt;
                &lt;li&gt;&lt;a href="#/sumUrl/2/1"&gt;SumUrl&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="#/emptyUrl"&gt;EmptyUrl&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="#/sumInput"&gt;sumInput&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="#/sumFour/1/2"&gt;sumFour&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="#/calc/sumUrl"&gt;RedirectTo-sumUrl&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
        &lt;div class="col-sm-9 well" style="height:100%"&gt;
            &lt;div ng-view&gt;&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/body&gt;

&lt;/html&gt;
</code></pre>
<span class="filename">Template : emptyUrl.html</span>
    <pre><code class="language-html">
    &lt;div&gt;
    &lt;h4&gt;This is from Empty Template&lt;/h4&gt;
&lt;/div&gt;
    </code></pre>
    <span class="filename">Template : sumFour.html</span>
    <pre><code class="language-html">
   &lt;div&gt;
    a = {{a}}
    &lt;br&gt; b = {{b}}
    &lt;br&gt; c = {{c}}
    &lt;br&gt; d = {{d}}
    &lt;br&gt; Sum = {{ (a-0) + (b-0) + (c-0) + (d-0) }}
&lt;/div&gt;    
    </code></pre>
    <span class="filename">Template : sumInput.html</span>
    <pre><code class="language-html">
    &lt;div&gt;
    &lt;h4&gt;This is from Sum Input Template&lt;/h4&gt;
    &lt;input type="text" id="txt-one" ng-model="a"&gt;
    &lt;input type="text" id="txt-two" ng-model="b"&gt;
    &lt;input type="button" id="my-btn" ng-click="doSum()" value="Submit" class="btn btn-success"&gt;
&lt;/div&gt;
    </code></pre>
    <span class="filename">Template : sumUrl.html</span>
    <pre><code class="language-html">
    &lt;div&gt;
    &lt;h3&gt;This is from sum template&lt;/h3&gt;
    &lt;br&gt; a = {{a}}
    &lt;br&gt; b = {{b}}
    &lt;br&gt; Sum = {{(a-0)+(b-0)}}
&lt;/div&gt;
    </code></pre>
    
<span class="filename">Script : app.js</span>
    <pre><code class="language-javascript">
    var app = angular.module('app', ['ngRoute']);

app.config(['$routeProvider', function($routeProvider) {
    $routeProvider
        .when('/sumUrl/:x/:y', { //a: & b: are mandatory
            templateUrl: 'sumurl.html',
            controller: 'myCtrl'
        })
        .when('/sumInput', {
            templateUrl: 'sumInput.html',
            controller: 'suminputCtrl'
        })
        .when('/emptyUrl', {
            templateUrl: 'emptyUrl.html'
        })
        .when('/calc/:option/:a?/:b?', { //Re route to some other existing route based on the condition specified here

            redirectTo: function(params, path, search) {
                // params(option/a/b), path, search - provide by angularJS
                // search - QueryString Parametes
                console.log(params);
                if (params.option == 'sumUrl') {
                    console.log('/sumUrl/' + (params.a - 0) + '/' + (params.b - 0));
                    return '/sumUrl/' + (params.a - 0) + '/' + (params.b - 0);
                } else if (params.option == 'sumInput') {
                    console.log('/sumInput');
                    return '/sumInput';
                } else {
                    console.log('/');
                    return '/';
                }
            }
        })
        .when('/sumFour/:a/:b/:c?/:d?', { //c? & d? are optional
            templateUrl: 'sumFour.html',
            controller: 'sumFourCtrl'
        })
        .when('/', {
            template: '&lt;strong&gt;Welcome to my app...&lt;/strong&gt;&lt;br&gt;&lt;i&gt;Click One of the link from left panel&lt;/i&gt;'
        })
        .otherwise({ //If the routing does not match any of the above
            template: '&lt;strong&gt;No Content available here...&lt;/strong&gt;&lt;i&gt;Click one of the link from left panel&lt;/i&gt;'
        })
}])

app.controller('myCtrl', ['$scope', '$routeParams', function($scope, $routeParams) {
    $scope.a = $routeParams.x;
    $scope.b = $routeParams.y;
}])

app.controller('suminputCtrl', ['$scope', '$location', '$interpolate', function($scope, $location, $interpolate) {
    $scope.a = 0;
    $scope.b = 0;

    $scope.doSum = function() {
        //Compiler during the compilation process matches text and attributes using interpolate service to see if they contains embedded expressions. 
        //As part of normal digest cycle these expressions are updated and registered as watches.
        var url = $interpolate('/sumUrl/{{a}}/{{b}}')($scope); // ($scope) - Interpolate works with current scope
        console.log(url);
        $location.path(url); //Replaces our particular url of the browser wiht this new url
        //We are re route an existing route based on some values we captured from user 
    }
}])

app.controller('sumFourCtrl', ['$scope', '$routeParams', function($scope, $routeParams) {
    $scope.a = $routeParams.a;
    $scope.b = $routeParams.b;
    $scope.c = $routeParams.c;
    $scope.d = $routeParams.d;
}])
    </code></pre>
    </article>
    <aside id="sidebar">
          <div class="dark">
        <h3>What We Do</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius auctor lacus nec feugiat. Phasellus sit amet ex ipsum. Praesent pharetra tincidunt tempor. Etiam velit eros, dapibus eget porta in, lacinia et magna</p>
      </div>
        </aside>
  </div>
    </section>
<footer>
      <p>UI Tutorials, Copyright &copy; 2017</p>
    </footer>
</body>
</html>
