<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Affordable and professional web design">
	  <meta name="keywords" content="web design, affordable web design, professional web design">
  	<meta name="author" content="Brad Traversy">
    <title>UI Tutorials | Welcome</title>
    
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">    
    <link rel="stylesheet" type="text/css" href="../css/MenuStyle.css">
        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="../scripts/menuScript.js"></script>
    <link rel="stylesheet" href="../css/SiteStyle.css">
    <link rel="stylesheet" type="text/css" href="../css/prism.css">
    <script src="../scripts/prism.js"></script>
    
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">UI</span> Tutorials</h1>
        </div>
        <nav id='cssmenu'>            
            <div id="head-mobile"></div>
            <div class="button"></div>
            <ul>
                <li><a href="../index.html">HOME</a></li>
                <li><a href='#'>Bootstrap</a></li>
                <li class='active'><a href="#">AngularJS</a>
                  <ul>
                    <li><a href='#'>Introduction</a>
                      <ul>
                        <li><a href="01_AngularIntro_Index.html">Basic</a></li>
                        <li><a href="03_AngularIntro_Module.html">Module</a></li>
                        <li><a href="02_AngularIntro_Controller.html">Controller MVC</a></li>
                      </ul>
                    </li>
                    <li><a href='#'>Angular DOM</a>
                      <ul>
                        <li><a href="01_AngularDOM_events.html">Events</a></li>
                        <li><a href="03_AngularDOM_ngShow.html">ng Show</a></li>
                        <li><a href="02_AngularDOM_ngHide.html">ng Hide</a></li>
                      </ul>
                    </li>
                    <li><a href='#'>Filter</a>
                      <ul>
                        <li><a href="02_FilterIndex_FormatData.html">Format Data</a></li>
                        <li><a href="03_Filter_SortData.html">Sort Data</a></li>
                        <li><a href="01_FilterData.html">Filter Data</a></li>
                      </ul>
                    </li>
                    <li><a href='#'>Form</a>
                      <ul>
                        <li><a href="01Form_index.html">Form</a></li>
                        <li><a href="03_AngularDOM_ngShow.html">CheckBox</a></li>
                        <li><a href="02_AngularDOM_ngHide.html">ShowHide</a></li>
                        <li><a href="01_AngularDOM_events.html">RadioButton</a></li>
                        <li><a href="01_AngularDOM_events.html">TrackingEvents</a></li>
                        <li><a href="01_AngularDOM_events.html">Validation</a></li>
                        <li><a href="01_AngularDOM_events.html">NestedValidation</a></li>
                        <li><a href="01_AngularDOM_events.html">FormSubmission</a></li>
                        <li><a href="#">Select Element</a>
                          <ul>
                            <li><a href="09SelectDD_htmlIndex.html">Html</a></li>
                            <li><a href="09SelectDD_arrayIndex.html">Array</a></li>
                            <li><a href="09SelectDD_objectIndex.html">Object</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a href='#'>Service</a>
                      <ul>                                
                        <li><a href="01_Service_index.html">Index</a></li>
                      </ul>
                    </li>
                    <li><a href='#'>Directive</a>
                      <ul>
                        <li><a href='00_Directive_index.html'>Index</a></li>
                        <li><a href="#">Shared Scope</a>
                          <ul>
                            <li><a href='01_Scope_inheritance_index.html'>Scoope Inheritance</a></li>
                            <li><a href='02_SharedScope_index.html'>SharedScope(SS)</a></li>
                            <li><a href='03_Shared_Scope_index.html'>SS-Modifying</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Isolated Scope</a>
                          <ul>
                            <li><a href='04_Inherited_ScopeChild_index.html'>InheritedScope(Child)</a></li>
                            <li><a href='05_Child_index.html'>Child-Directive</a></li>
                            <li><a href='06_Child_index.html'>Child-ng Repeat</a></li>
                          </ul>
                        </li>
                        
                        
                        <li><a href="#">IsolatedScope</a>
                          <ul>
                            <li><a href='07_Isolated_Scope_index.html'>IsolatedScope @</a></li>
                            <li><a href='08_Isolated_Scope_index.html'>IsolatedScope =</a></li>
                            <li><a href='09_Isolated_Scope_index.html'>IsolatedScope &amp;</a></li>
                          </ul>
                        </li>
                        
                        <li><a href='#'>Directive Compile</a>
                          <ul>
                            <li><a href='01_Directive_Compile_compile.html'>Compile</a></li>
                            <li><a href='02_ Directive_Compile_controller.html'>Controller</a></li>
                            <li><a href='03_Directive_Compile_PrePostLink.html'>LinkPrePost</a></li>
                            <li><a href='04_Directive_Compile_compileCtrlLink.html'>CompileControllerLink</a></li>
                          </ul>
                        </li>
                        <li><a href='#'>Directive Link</a>
                          <ul>
                            <li><a href='01_Directive_Link_interpolation.html'>Interpolation</a></li>
                            <li><a href='02_Directive_Link_modifyDomInCompile.html'>ModifyDom</a></li>
                            <li><a href='03_Directive_Link_DomEventHandler.html'>EventHandler</a></li>
                            <li><a href='04_Directive_Link_WithoutCompile.html'>WithoutCompile</a></li>
                            <li><a href='05_Directive_Link_CompileReturn.html'>CompileReturn</a></li>
                            <li><a href='06_Directive_Link_PostOnly.html'>PostOnly</a></li>
                          </ul>
                        </li>
                        
                      </ul>
                    </li>
                    <li><a href='#'>Routing</a>
                      <ul>
                        <li><a href="01_Route_index.html">Index</a></li>
                        <li><a href="#">Code</a>
                          <ul>
                            
                            <li><a href="02_Route_Intro.html">Intro Routing</a></li>
                            <li><a href="03_Route_Parameters.html">Parameters</a></li>
                            <li><a href="04_Route_Async.html">Asynchronous</a></li>
                            <li><a href="05_Route_Redirect.html">Redirect</a></li>
                            <li><a href="06_Route_events.html">Events</a></li>
                            <li><a href="Routing/code/06 Route-routeService-events with Loading/index.htm">With Loading</a></li>
                            <li><a href="Routing/code/07 Route-routeService-with-resolve/index.htm">With Resolve</a></li>
                          </ul>
                          
                        </li>
                        
                      </ul>
                    </li>
                    <li><a href='#'>UI Route</a>
                      <ul>


                        <li><a href="01UiRoute_index.html">Index</a></li>
                        <li><a href="#">Code</a>
                          <ul>
                            
                            <li><a href="02UIRoute_Intro_Routing_index.html">Intro Routing</a></li>
                            <li><a href="03_UIRoute_RouteWithParams.html">Parameters</a></li>
                            <li><a href="04_UIRoute_StateService.html">State</a></li>
                            <li><a href="05_UIRoute_WithResolve.html">Resolve</a></li>
                            <li><a href="06_UIRoute_SingleView.html">SingleView</a></li>
                            <li><a href="07_UIRoute_MultipleViews.html">MultipleView</a></li>
                            
                          </ul>
                          
                        </li>
                        
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href='#'>Javascript</a></li>
                <li><a href='#'>NodeJS</a></li>
                
              </ul>
        </nav>
      </div>
    </header>

    <!--<section id="newsletter">
      <div class="container">
        <h1>Subscribe To Our Newsletter</h1>
        <form>
          <input type="email" placeholder="Enter Email...">
          <button type="submit" class="button_1">Subscribe</button>
        </form>
      </div>
    </section>-->

<section id="main">
      <div class="container">
    <article id="main-col">
    <h1>3 Route Service With Asynchronous($http) Call</h1>   
          <span class="filename">Example : index.html</span>
    <pre><code class="language-html">
    &lt;!DOCTYPE html&gt;
&lt;html&gt;

&lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;title&gt;Angular Intro&lt;/title&gt;
    &lt;link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"&gt;
    &lt;script src="http://code.angularjs.org/1.2.13/angular.js"&gt;&lt;/script&gt;
    &lt;script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"&gt;&lt;/script&gt;
    &lt;script src="app.js"&gt;&lt;/script&gt;
    &lt;script src="dataService.js"&gt;&lt;/script&gt;
&lt;/head&gt;

&lt;body ng-app="myApp"&gt;
    &lt;div class="row"&gt;
        &lt;div class="col-sm-12 well"&gt;
            header | &lt;a href="#/"&gt;Home&lt;/a&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="row"&gt;
        &lt;div class="col-sm-3 well" style="min-height:100%"&gt;
            &lt;ul&gt;
                &lt;li&gt;&lt;a href="#/calc"&gt;Add&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
            &lt;ul&gt;
                &lt;li&gt;&lt;a href="#/calc2"&gt;Multiply&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
        &lt;div class="col-sm-9 well" style="min-height:100%"&gt;
            &lt;div ng-view&gt;&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/body&gt;

&lt;/html&gt;
</code></pre>
<span class="filename">Template : calc2.html</span>
    <pre><code class="language-html">
    &lt;div&gt;
    a = &lt;input type="text" ng-model="a"&gt;&lt;br&gt;&lt;br&gt; b = &lt;input type="text" ng-model="b"&gt;&lt;br&gt;&lt;br&gt;
    &lt;button ng-click="doMultiply()" class='btn btn-primary'&gt;Multiply&lt;/button&gt;
    &lt;div&gt;
        &lt;br&gt;I am from Calc 2 Page :
        &lt;br&gt; Calculated result = {{result.data}}
    &lt;/div&gt;
&lt;/div&gt;
    </code></pre>
    <span class="filename">Template : clac.html</span>
    <pre><code class="language-html">
   &lt;div&gt;
    a = &lt;input type="text" ng-model="a"&gt;&lt;br&gt;&lt;br&gt; b = &lt;input type="text" ng-model="b"&gt;&lt;br&gt;&lt;br&gt;
    &lt;button ng-click="doAdd()" class='btn btn-primary'&gt;Add&lt;/button&gt;
    &lt;div&gt;
        &lt;br&gt;I am from Calc 1 Page :
        &lt;br&gt; Calculated result = {{result.data}}
    &lt;/div&gt;
&lt;/div&gt;   
    </code></pre>    
    
<span class="filename">Script : dataService.js</span>
    <pre><code class="language-javascript">
    app.config(['dataProviderProvider', function(dataProviderProvider) {
    dataProviderProvider.config('http://localhost:58973/api/students');
}])

app.provider('dataProvider', function() {
    var baseUrl = '';
    this.config = function(url) {
        baseUrl = url;
    };

    this.$get = ['$http', '$log', function($http, $log) {

        //dataProvider.add($scope.a, $scope.b)
        var oDataService = {};
        oDataService.add = function(a, b) {
            console.log("I am form Add..")
            return $http({
                url: baseUrl + '/Add/',
                params: { a: a, b: b },
                method: 'GET',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
            })
        }

        oDataService.multiply = function(a, b) {
            console.log("I am form multiply..")
            return $http({
                url: baseUrl + '/Multiply/',
                params: { c: a, d: b },
                method: 'GET',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
            })
        }

        return oDataService;
    }];
});
    </code></pre>
    <span class="filename">Script : app.js</span>
    <pre><code class="language-javascript">
    var app = angular.module('myApp', ['ngRoute']);

app.config(['$routeProvider', function($routeProvider) {
    $routeProvider
        .when('/calc', {
            templateUrl: 'calc.htm',
            controller: 'calculateCtrl'
        })
        .when('/calc2', {
            templateUrl: 'calc2.htm',
            controller: 'calculateCtrl2'
        })
        .when('/', {
            template: '&lt;strong&gt;Welcome to our page&lt;/strong&gt;&lt;br&gt;&lt;i&gt;Please click left side Menu&lt;/i&gt;'
        })
        .otherwise({
            template: '&lt;strong&gt;No content available&lt;/strong&gt;&lt;br&gt;Please click left side Menu'
        })
}]);

app.controller('calculateCtrl', ['$scope', 'dataProvider', function($scope, dataProvider) {
    $scope.a = 0;
    $scope.b = 0;
    $scope.doAdd = function() {
        dataProvider.add($scope.a, $scope.b)
            .then(function(result) {
                $scope.result = result;
            })

    }
}])

app.controller('calculateCtrl2', ['$scope', 'dataProvider', function($scope, dataProvider) {
    $scope.a = 0;
    $scope.b = 0;
    $scope.doMultiply = function() {
        dataProvider.multiply($scope.a, $scope.b)
            .then(function(result) {
                $scope.result = result;
            })
    }
}])
    </code></pre>
    </article>
    <aside id="sidebar">
          <div class="dark">
        <h3>What We Do</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius auctor lacus nec feugiat. Phasellus sit amet ex ipsum. Praesent pharetra tincidunt tempor. Etiam velit eros, dapibus eget porta in, lacinia et magna</p>
      </div>
        </aside>
  </div>
    </section>
<footer>
      <p>UI Tutorials, Copyright &copy; 2017</p>
    </footer>
</body>
</html>
