<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Affordable and professional web design">
	  <meta name="keywords" content="web design, affordable web design, professional web design">
  	<meta name="author" content="Brad Traversy">
    <title>UI Tutorials | Welcome</title>
    
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">    
    <link rel="stylesheet" type="text/css" href="../css/MenuStyle.css">
        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="../scripts/menuScript.js"></script>
    <link rel="stylesheet" href="../css/SiteStyle.css">
    <link rel="stylesheet" type="text/css" href="../css/prism.css">
    <script src="../scripts/prism.js"></script>
    
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">UI</span> Tutorials</h1>
        </div>
        <nav id='cssmenu'>            
            <div id="head-mobile"></div>
            <div class="button"></div>
            <ul>
                <li><a href="../index.html">HOME</a></li>
                <li><a href='#'>Bootstrap</a></li>
                <li class='active'><a href="#">AngularJS</a>
                  <ul>
                    <li><a href='#'>Introduction</a>
                      <ul>
                        <li><a href="01_AngularIntro_Index.html">Basic</a></li>
                        <li><a href="03_AngularIntro_Module.html">Module</a></li>
                        <li><a href="02_AngularIntro_Controller.html">Controller MVC</a></li>
                      </ul>
                    </li>
                    <li><a href='#'>Angular DOM</a>
                      <ul>
                        <li><a href="01_AngularDOM_events.html">Events</a></li>
                        <li><a href="03_AngularDOM_ngShow.html">ng Show</a></li>
                        <li><a href="02_AngularDOM_ngHide.html">ng Hide</a></li>
                      </ul>
                    </li>
                    <li><a href='#'>Filter</a>
                      <ul>
                        <li><a href="02_FilterIndex_FormatData.html">Format Data</a></li>
                        <li><a href="03_Filter_SortData.html">Sort Data</a></li>
                        <li><a href="01_FilterData.html">Filter Data</a></li>
                      </ul>
                    </li>
                    <li><a href='#'>Form</a>
                      <ul>
                        <li><a href="01Form_index.html">Form</a></li>
                        <li><a href="03_AngularDOM_ngShow.html">CheckBox</a></li>
                        <li><a href="02_AngularDOM_ngHide.html">ShowHide</a></li>
                        <li><a href="01_AngularDOM_events.html">RadioButton</a></li>
                        <li><a href="01_AngularDOM_events.html">TrackingEvents</a></li>
                        <li><a href="01_AngularDOM_events.html">Validation</a></li>
                        <li><a href="01_AngularDOM_events.html">NestedValidation</a></li>
                        <li><a href="01_AngularDOM_events.html">FormSubmission</a></li>
                        <li><a href="#">Select Element</a>
                          <ul>
                            <li><a href="09SelectDD_htmlIndex.html">Html</a></li>
                            <li><a href="09SelectDD_arrayIndex.html">Array</a></li>
                            <li><a href="09SelectDD_objectIndex.html">Object</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a href='#'>Service</a>
                      <ul>                                
                        <li><a href="01_Service_index.html">Index</a></li>
                      </ul>
                    </li>
                    <li><a href='#'>Directive</a>
                      <ul>
                        <li><a href='00_Directive_index.html'>Index</a></li>
                        <li><a href="#">Shared Scope</a>
                          <ul>
                            <li><a href='01_Scope_inheritance_index.html'>Scoope Inheritance</a></li>
                            <li><a href='02_SharedScope_index.html'>SharedScope(SS)</a></li>
                            <li><a href='03_Shared_Scope_index.html'>SS-Modifying</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Isolated Scope</a>
                          <ul>
                            <li><a href='04_Inherited_ScopeChild_index.html'>InheritedScope(Child)</a></li>
                            <li><a href='05_Child_index.html'>Child-Directive</a></li>
                            <li><a href='06_Child_index.html'>Child-ng Repeat</a></li>
                          </ul>
                        </li>
                        
                        
                        <li><a href="#">IsolatedScope</a>
                          <ul>
                            <li><a href='07_Isolated_Scope_index.html'>IsolatedScope @</a></li>
                            <li><a href='08_Isolated_Scope_index.html'>IsolatedScope =</a></li>
                            <li><a href='09_Isolated_Scope_index.html'>IsolatedScope &amp;</a></li>
                          </ul>
                        </li>
                        
                        <li><a href='#'>Directive Compile</a>
                          <ul>
                            <li><a href='01_Directive_Compile_compile.html'>Compile</a></li>
                            <li><a href='02_ Directive_Compile_controller.html'>Controller</a></li>
                            <li><a href='03_Directive_Compile_PrePostLink.html'>LinkPrePost</a></li>
                            <li><a href='04_Directive_Compile_compileCtrlLink.html'>CompileControllerLink</a></li>
                          </ul>
                        </li>
                        <li><a href='#'>Directive Link</a>
                          <ul>
                            <li><a href='01_Directive_Link_interpolation.html'>Interpolation</a></li>
                            <li><a href='02_Directive_Link_modifyDomInCompile.html'>ModifyDom</a></li>
                            <li><a href='03_Directive_Link_DomEventHandler.html'>EventHandler</a></li>
                            <li><a href='04_Directive_Link_WithoutCompile.html'>WithoutCompile</a></li>
                            <li><a href='05_Directive_Link_CompileReturn.html'>CompileReturn</a></li>
                            <li><a href='06_Directive_Link_PostOnly.html'>PostOnly</a></li>
                          </ul>
                        </li>
                        
                      </ul>
                    </li>
                    <li><a href='#'>Routing</a>
                      <ul>
                        <li><a href="01_Route_index.html">Index</a></li>
                        <li><a href="#">Code</a>
                          <ul>
                            
                            <li><a href="02_Route_Intro.html">Intro Routing</a></li>
                            <li><a href="03_Route_Parameters.html">Parameters</a></li>
                            <li><a href="04_Route_Async.html">Asynchronous</a></li>
                            <li><a href="05_Route_Redirect.html">Redirect</a></li>
                            <li><a href="06_Route_events.html">Events</a></li>
                            <li><a href="Routing/code/06 Route-routeService-events with Loading/index.htm">With Loading</a></li>
                            <li><a href="Routing/code/07 Route-routeService-with-resolve/index.htm">With Resolve</a></li>
                          </ul>
                          
                        </li>
                        
                      </ul>
                    </li>
                    <li><a href='#'>UI Route</a>
                      <ul>
                        <li><a href="01UiRoute_index.html">Index</a></li>
                        <li><a href="#">Code</a>
                          <ul>
                            
                            <li><a href="02UIRoute_Intro_Routing_index.html">Intro Routing</a></li>
                            <li><a href="03_UIRoute_RouteWithParams.html">Parameters</a></li>
                            <li><a href="04_UIRoute_StateService.html">State</a></li>
                            <li><a href="05_UIRoute_WithResolve.html">Resolve</a></li>
                            <li><a href="06_UIRoute_SingleView.html">SingleView</a></li>
                            <li><a href="07_UIRoute_MultipleViews.html">MultipleView</a></li>
                            
                          </ul>
                          
                        </li>
                        
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href='#'>Javascript</a></li>
                <li><a href='#'>NodeJS</a></li>
                
              </ul>
        </nav>
      </div>
    </header>

    <!--<section id="newsletter">
      <div class="container">
        <h1>Subscribe To Our Newsletter</h1>
        <form>
          <input type="email" placeholder="Enter Email...">
          <button type="submit" class="button_1">Subscribe</button>
        </form>
      </div>
    </section>-->

<section id="main">
      <div class="container">
    <article id="main-col">
    <h3>1. Tracking changes on single elements</h3>
        <ul>
            <li>
                When you load an HTML template managed by AngularJS, all the input elements with an ng-model directive also have the <strong>ng-pristine</strong> CSS class associated to them.
            </li>
            <li>
                When the user modifies the content by typing into the control, the ng-pristine CSS class is removed from it and replaced by <strong>ng-dirty</strong>.
            </li>
            <li>
                It's important to keep in mind that the CSS styles are applied only if the control is associated to a model variable through the <strong>ng-model</strong> directive.
            </li>
        </ul>

        <ul>
            <li>
                In every input element we can also bind an handler function through the <strong>ng-change</strong> directive to listen to every change event.
            </li>
            <li>
                Every time the model variable is update as a consequence of a user interaction, the handler function is called.
                <ul>
                    <li>the handler is called only if the model variable changes as a consequence of a user interaction with the control and not if the variable changes because a new value has been assigned to it programmatically</li>
                    <li>the handler is called only if the model variable changes, this means that if the text in the input element is not valid (e.g. it's not a valid e-mail address in an input with type email), the handler will not be called until the text
                        becomes valid again so it can be assigned to the model variable</li>
                    <p>Note the difference between the text input and the email input. In the second one, the change handler is called only when the e-mail address typed in the control is considered valid.</p>
                </ul>
            </li>
            <li>
                It's important to keep in mind that the CSS styles are applied only if the control is associated to a model variable through the ng-model directive.
            </li>
        </ul>
      
          <span class="filename">Example : index.html</span>
          <pre><code class="language-html">&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;

&lt;head&gt;
    &lt;title&gt;&lt;/title&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;
    &lt;link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"&gt;
    &lt;script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"&gt;&lt;/script&gt;
    &lt;script src="script.js"&gt;&lt;/script&gt;
    &lt;/head&gt;

&lt;body ng-app="mainModule"&gt;
    &lt;div ng-controller="mainController"&gt;
        &lt;label&gt;Text: &lt;input type="text" ng-model="textValue" ng-change="onTextChange()" /&gt;&lt;/label&gt;&lt;br /&gt;
        &lt;strong&gt;Value:&lt;/strong&gt; {{textValue}}
        &lt;br /&gt;
        &lt;br /&gt;
        &lt;strong&gt;Changed:&lt;/strong&gt; {{isTextChanged}} ({{textChangesCounter}} times)&lt;br /&gt;
        &lt;br /&gt;
        &lt;br /&gt;
        &lt;label&gt;E-mail: &lt;input type="email" ng-model="emailValue" ng-change="onEmailChange()" /&gt;&lt;/label&gt;&lt;br /&gt;
        &lt;strong&gt;Value:&lt;/strong&gt; {{emailValue}}&lt;br /&gt;
        &lt;br /&gt;
        &lt;strong&gt;Changed:&lt;/strong&gt; {{isEmailChanged}} ({{emailChangesCounter}} times)&lt;br /&gt;
        
    &lt;/div&gt;
&lt;/body&gt;

&lt;/html&gt;    
    </code></pre>
    
    <hr>
    <h3>2. Tracking changes in a form</h3>
        <p>how we can keep track of the global state of a form and how we can programmatically check the state of the single input elements through their parent form.</p>
        <ul>
            <li>To do this, we need to assign a name to the form and to all the input elements whose state needs to be accessed programmatically. </li>
            <li>As you can see, the state of the form can be accessed through the "testForm" variable that is automatically defined on the scope by AngularJS. </li>
            <!--<li> Any input element inside the form that has also an associated name, is made available for a programmatical access through the testForm variable, so if we need to access the state of formText, all we need to do in the code is write $scope.testForm.formText.
            </li>-->
            <li>The state of a single element can be decoded by reading the value of two variables: $pristine and $dirty. This is exactly what the getItemState function does in the example.
            </li>
        </ul>
        <span class="filename">Example 2 : index.html</span>
        <pre>
        <code class="language-html">
        &lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;

&lt;head&gt;
    &lt;title&gt;&lt;/title&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;
    &lt;link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"&gt;
    &lt;script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"&gt;&lt;/script&gt;
    &lt;script src="script.js"&gt;&lt;/script&gt;
    
&lt;/head&gt;

&lt;body ng-app="mainModule"&gt;
    &lt;div ng-controller="mainController"&gt;
        &lt;h2&gt;Form 2&lt;/h2&gt;
        &lt;form name="testForm"&gt;
            &lt;label&gt;Text: &lt;input type="text" name="formText" ng-model="formTextValue" /&gt;&lt;/label&gt;
            &lt;strong&gt;State:&lt;/strong&gt; {{getItemState(testForm.formText)}}&lt;br /&gt;
            &lt;label&gt;E-mail: &lt;input type="email" name="formEmail" ng-model="formEmailValue" /&gt;&lt;/label&gt;
            &lt;strong&gt;State:&lt;/strong&gt; {{getItemState(testForm.formEmail)}}&lt;br /&gt;
            &lt;br /&gt;
            &lt;strong&gt;Form state:&lt;/strong&gt; {{getItemState(testForm)}}
        &lt;/form&gt;
    &lt;/div&gt;
&lt;/body&gt;

&lt;/html&gt;
        </code>        
        </pre>
        <span class="filename">Example : script.js</span>
    <pre><code class="language-javascript">
    angular.module("mainModule", [])
    .controller("mainController", function($scope) {
        $scope.isTextChanged = false;
        $scope.isEmailChanged = false;
        $scope.textChangesCounter = 0;
        $scope.emailChangesCounter = 0;
        //$scope.values = $scope.testForm.formText;

        $scope.onTextChange = function() {
            console.log($scope.textChangesCounter);
            $scope.isTextChanged = true;
            $scope.textChangesCounter++;
        };

        $scope.onEmailChange = function() {
            $scope.isEmailChanged = true;
            $scope.emailChangesCounter++;
        };

        $scope.getItemState = function(item) {

            if (item.$pristine) {
                return "pristine";
            } else if (item.$dirty) {
                return "dirty";
            } else {
                return "";
            }
        };
    });
    </code></pre>
    <span class="filename">style.css</span>
    <pre><code class="language-css">
     .ng-pristine {
            border: solid green 3px;
        }
        
        .ng-dirty {
            border: solid orange 3px;
        }
        
        .ng-pristine {
            background-color: lightgreen;
        }
        
        .ng-dirty {
            background-color: lightpink;
        }
    </code></pre>
        </article>
    <aside id="sidebar">
          <div class="dark">
        <h3>What We Do</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius auctor lacus nec feugiat. Phasellus sit amet ex ipsum. Praesent pharetra tincidunt tempor. Etiam velit eros, dapibus eget porta in, lacinia et magna</p>
      </div>
        </aside>
  </div>
    </section>
<footer>
      <p>UI Tutorials, Copyright &copy; 2017</p>
    </footer>
</body>
</html>
