<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Affordable and professional web design">
	  <meta name="keywords" content="web design, affordable web design, professional web design">
  	<meta name="author" content="Brad Traversy">
    <title>UI Tutorials | Welcome</title>
    
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">    
    <link rel="stylesheet" type="text/css" href="../css/MenuStyle.css">
        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="../scripts/menuScript.js"></script>
    <link rel="stylesheet" href="../css/SiteStyle.css">
    <link rel="stylesheet" type="text/css" href="../css/prism.css">
    <script src="../scripts/prism.js"></script>
    
  
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-103420198-1', 'auto');
  ga('send', 'pageview');

</script>

</head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">UI</span> Tutorials</h1>
        </div>
        <nav id='cssmenu'>            
            <div id="head-mobile"></div>
            <div class="button"></div>
            <ul>
                <li><a href="../index.html">HOME</a></li>
                <li><a href='#'>Bootstrap</a></li>
                <li class='active'><a href="#">AngularJS</a>
                  <ul>
                    <li><a href='#'>Introduction</a>
                      <ul>
                        <li><a href="01_AngularIntro_Index.html">Basic</a></li>
                        <li><a href="03_AngularIntro_Module.html">Module</a></li>
                        <li><a href="02_AngularIntro_Controller.html">Controller MVC</a></li>
                      </ul>
                    </li>
                    <li><a href='#'>Angular DOM</a>
                      <ul>
                        <li><a href="01_AngularDOM_events.html">Events</a></li>
                        <li><a href="03_AngularDOM_ngShow.html">ng Show</a></li>
                        <li><a href="02_AngularDOM_ngHide.html">ng Hide</a></li>
                      </ul>
                    </li>
                    <li><a href='#'>Filter</a>
                      <ul>
                        <li><a href="02_FilterIndex_FormatData.html">Format Data</a></li>
                        <li><a href="03_Filter_SortData.html">Sort Data</a></li>
                        <li><a href="01_FilterData.html">Filter Data</a></li>
                      </ul>
                    </li>
                    <li><a href='#'>Form</a>
                      <ul>
                        <li><a href="01Form_index.html">Form</a></li>
                        <li><a href="03_AngularDOM_ngShow.html">CheckBox</a></li>
                        <li><a href="02_AngularDOM_ngHide.html">ShowHide</a></li>
                        <li><a href="01_AngularDOM_events.html">RadioButton</a></li>
                        <li><a href="01_AngularDOM_events.html">TrackingEvents</a></li>
                        <li><a href="01_AngularDOM_events.html">Validation</a></li>
                        <li><a href="01_AngularDOM_events.html">NestedValidation</a></li>
                        <li><a href="01_AngularDOM_events.html">FormSubmission</a></li>
                        <li><a href="#">Select Element</a>
                          <ul>
                            <li><a href="09SelectDD_htmlIndex.html">Html</a></li>
                            <li><a href="09SelectDD_arrayIndex.html">Array</a></li>
                            <li><a href="09SelectDD_objectIndex.html">Object</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a href='#'>Service</a>
                      <ul>                                
                        <li><a href="01_Service_index.html">Index</a></li>
                      </ul>
                    </li>
                    <li><a href='#'>Directive</a>
                      <ul>
                        <li><a href='00_Directive_index.html'>Index</a></li>
                        <li><a href="#">Shared Scope</a>
                          <ul>
                            <li><a href='01_Scope_inheritance_index.html'>Scoope Inheritance</a></li>
                            <li><a href='02_SharedScope_index.html'>SharedScope(SS)</a></li>
                            <li><a href='03_Shared_Scope_index.html'>SS-Modifying</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Isolated Scope</a>
                          <ul>
                            <li><a href='04_Inherited_ScopeChild_index.html'>InheritedScope(Child)</a></li>
                            <li><a href='05_Child_index.html'>Child-Directive</a></li>
                            <li><a href='06_Child_index.html'>Child-ng Repeat</a></li>
                          </ul>
                        </li>
                        
                        
                        <li><a href="#">IsolatedScope</a>
                          <ul>
                            <li><a href='07_Isolated_Scope_index.html'>IsolatedScope @</a></li>
                            <li><a href='08_Isolated_Scope_index.html'>IsolatedScope =</a></li>
                            <li><a href='09_Isolated_Scope_index.html'>IsolatedScope &amp;</a></li>
                          </ul>
                        </li>
                        
                        <li><a href='#'>Directive Compile</a>
                          <ul>
                            <li><a href='01_Directive_Compile_compile.html'>Compile</a></li>
                            <li><a href='02_ Directive_Compile_controller.html'>Controller</a></li>
                            <li><a href='03_Directive_Compile_PrePostLink.html'>LinkPrePost</a></li>
                            <li><a href='04_Directive_Compile_compileCtrlLink.html'>CompileControllerLink</a></li>
                          </ul>
                        </li>
                        <li><a href='#'>Directive Link</a>
                          <ul>
                            <li><a href='01_Directive_Link_interpolation.html'>Interpolation</a></li>
                            <li><a href='02_Directive_Link_modifyDomInCompile.html'>ModifyDom</a></li>
                            <li><a href='03_Directive_Link_DomEventHandler.html'>EventHandler</a></li>
                            <li><a href='04_Directive_Link_WithoutCompile.html'>WithoutCompile</a></li>
                            <li><a href='05_Directive_Link_CompileReturn.html'>CompileReturn</a></li>
                            <li><a href='06_Directive_Link_PostOnly.html'>PostOnly</a></li>
                          </ul>
                        </li>
                        
                      </ul>
                    </li>
                    <li><a href='#'>Routing</a>
                      <ul>
                        <li><a href="01_Route_index.html">Index</a></li>
                        <li><a href="#">Code</a>
                          <ul>
                            
                            <li><a href="02_Route_Intro.html">Intro Routing</a></li>
                            <li><a href="03_Route_Parameters.html">Parameters</a></li>
                            <li><a href="04_Route_Async.html">Asynchronous</a></li>
                            <li><a href="05_Route_Redirect.html">Redirect</a></li>
                            <li><a href="06_Route_events.html">Events</a></li>
                            <li><a href="Routing/code/06 Route-routeService-events with Loading/index.htm">With Loading</a></li>
                            <li><a href="Routing/code/07 Route-routeService-with-resolve/index.htm">With Resolve</a></li>
                          </ul>
                          
                        </li>
                        
                      </ul>
                    </li>
                    <li><a href='#'>UI Route</a>
                      <ul>

                        <li><a href="01UiRoute_index.html">Index</a></li>
                        <li><a href="#">Code</a>
                          <ul>
                            
                            <li><a href="02UIRoute_Intro_Routing_index.html">Intro Routing</a></li>
                            <li><a href="03_UIRoute_RouteWithParams.html">Parameters</a></li>
                            <li><a href="04_UIRoute_StateService.html">State</a></li>
                            <li><a href="05_UIRoute_WithResolve.html">Resolve</a></li>
                            <li><a href="06_UIRoute_SingleView.html">SingleView</a></li>
                            <li><a href="07_UIRoute_MultipleViews.html">MultipleView</a></li>
                            
                          </ul>
                          
                        </li>
                        
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href='#'>Javascript</a></li>
                <li><a href='#'>NodeJS</a></li>
                
              </ul>
        </nav>
      </div>
    </header>

    <!--<section id="newsletter">
      <div class="container">
        <h1>Subscribe To Our Newsletter</h1>
        <form>
          <input type="email" placeholder="Enter Email...">
          <button type="submit" class="button_1">Subscribe</button>
        </form>
      </div>
    </section>-->

<section id="main">
      <div class="container">
    <article id="main-col">
    <h2>Default AngularJS validation classes</h2>
        <ul>
            <li>For every input element in an HTML template we can specify some rules to consider it valid or invalid. AngularJS automatically associates the ng-valid or ng-invalid CSS classes to let us visually track the validity state of a control.</li>
            <li>It's important to keep in mind that the CSS styles are applied only if the control is associated to a model variable through the ng-model directive.</li>
            <li>Whenever any of those rules is not satisfied, the element is marked as invalid and the ng-invalid CSS class is associated to it. </li>
        </ul>
        <h3>1. Validating single elements</h3>
      
          <span class="filename">Example : index.html</span>
          <pre><code class="language-html">
          &lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;

&lt;head&gt;
    &lt;title&gt;&lt;/title&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;
    &lt;link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"&gt;
    &lt;script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"&gt;&lt;/script&gt;
    &lt;script src="script.js"&gt;&lt;/script&gt;
    
&lt;/head&gt;

&lt;body ng-app="mainModule"&gt;
    &lt;div ng-controller="mainController"&gt;
        &lt;div id="defaultValidationClassesPart"&gt;
            &lt;label&gt;Text:
        &lt;input type="text"
               required
               ng-model="textValue"
               ng-minlength="3"
               ng-maxlength="10"
               ng-pattern="/^[A-Za-z0-9]+$/" /&gt;
      &lt;/label&gt;&lt;br /&gt;
            &lt;strong&gt;Value:&lt;/strong&gt; {{textValue}}&lt;br /&gt;
            &lt;br /&gt;
            &lt;br /&gt;
            &lt;label&gt;Number:
        &lt;input type="number"
               ng-model="numberValue"
               min="5"
               max="12"/&gt;
      &lt;/label&gt;&lt;br /&gt;
            &lt;strong&gt;Value:&lt;/strong&gt; {{numberValue}}&lt;br /&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/body&gt;

&lt;/html&gt;   
    </code></pre>
    
    <hr>
    <h3>2. Validating a form</h3>
            <p>We can check the validity of a whole form by assign name to the form and all input elements, so AngularJS makes available for us some variables with the same names directly on the scope to let us access them programmatically.</p>
            <ul>
                <li>if we want to know the validity state of the form itself, we can access this information by checking $scope.testForm.$valid or $scope.testForm.$invalid because the two boolean variables $valid and $invalid are automatically made available
                    and kept updated by AngularJS. </li>
                <li> In the same way, we could check the validity of the formText input by writing $scope.testForm.formText.$valid or $scope.testForm.formText.$invalid</li>
                <li> In the example we also see the "$error" variable. It contains the information about which validity rules have been violated whenever a control is marked as invalid. Each validity rule adds a specific boolean property to the $error object
                    and whenever that property value is true, it means that the corresponding rule is not satisfied.</li>
            </ul>
        <span class="filename">Example 2 : index.html</span>
        <pre>
        <code class="language-html">
        &lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;

&lt;head&gt;
    &lt;title&gt;&lt;/title&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;
    &lt;link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"&gt;
    &lt;script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"&gt;&lt;/script&gt;
    &lt;script src="script.js"&gt;&lt;/script&gt;
    
&lt;/head&gt;

&lt;body ng-app="mainModule"&gt;
    &lt;div ng-controller="mainController"&gt;
        &lt;div id="defaultValidationClassesPart"&gt;
            &lt;form name="testForm" novalidate&gt;
                &lt;label&gt;Text:
          &lt;input type="text"
                 name="formText"
                 required
                 ng-model="formTextValue"
                 ng-minlength="3"
                 ng-maxlength="10"
                 ng-pattern="/^[A-Za-z0-9]+$/" /&gt;
        &lt;/label&gt;&lt;br /&gt;
                &lt;strong&gt;State:&lt;/strong&gt; {{getItemState(testForm.formText)}}&lt;br /&gt;
                &lt;strong&gt;Error messages:&lt;/strong&gt;&lt;br /&gt;

                &lt;div ng-if="testForm.formText.$error.required"&gt;This field is required : {{testForm.formText.$error.required}}&lt;br /&gt;&lt;/div&gt;
                &lt;div ng-if="testForm.formText.$error.minlength"&gt;The text is too short : {{testForm.formText.$error.minlength}}&lt;br /&gt;&lt;/div&gt;
                &lt;div ng-if="testForm.formText.$error.maxlength"&gt;The text is too long&lt;br /&gt;&lt;/div&gt;
                &lt;div ng-if="testForm.formText.$error.pattern"&gt;Invalid text format&lt;br /&gt;&lt;/div&gt;
                &lt;div ng-if="testForm.$valid"&gt;No errors : {{testForm.$valid}}&lt;br /&gt;&lt;/div&gt;
                &lt;strong&gt;Error:&lt;/strong&gt;&lt;br /&gt;
                &lt;textarea&gt;{{getItemError(testForm.formText) | json}}&lt;/textarea&gt;&lt;br /&gt;
                &lt;br /&gt;
                &lt;label&gt;E-mail:
          &lt;input type="email"
                 name="formEmail"
                 ng-model="formEmailValue" /&gt;
        &lt;/label&gt;&lt;br /&gt;
                &lt;strong&gt;State:&lt;/strong&gt; {{getItemState(testForm.formEmail)}}&lt;br /&gt;
                &lt;strong&gt;Error messages:&lt;/strong&gt;&lt;br /&gt;
                &lt;div ng-show="testForm.formEmail.$error.email"&gt;Invalid e-mail address&lt;br /&gt;&lt;/div&gt;
                &lt;div ng-if="testForm.formEmail.$valid"&gt;No errors&lt;br /&gt;&lt;/div&gt;
                &lt;strong&gt;Error:&lt;/strong&gt;&lt;br /&gt;
                &lt;textarea&gt;{{getItemError(testForm.formEmail) | json}}&lt;/textarea&gt;&lt;br /&gt;
                &lt;br /&gt;
                &lt;strong&gt;Form state:&lt;/strong&gt; {{getItemState(testForm)}}&lt;br /&gt;
                &lt;strong&gt;Form error:&lt;/strong&gt;&lt;br /&gt;
                &lt;textarea&gt;{{getItemError(testForm) | json}}&lt;/textarea&gt;&lt;br /&gt;
            &lt;/form&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/body&gt;

&lt;/html&gt;
        </code>        
        </pre>
        
        <h3>3. Custom CSS classes</h3>
        <p>how we could use our own CSS classes if needed to mark the controls as valid or invalid.</p>
        <ul>
            <li>Here we use our custom invalidItem CSS class to visualize a component as invalid. Whenever the validity state of an input element changes, the getValidationCSSClass function is called and returns an object whose property names are the CSS
                classes that we want to add to the element and for each property a value of true means that the class has to be added, while false means that we don't want the CSS class to be used.</li>
            <li>Whenever its text changes, the getValidationCSSClass function is called and the ng-class directive receives an object that says that the invalidItem CSS class should be applied to the HTML element only if both the $invalid and $dirty states
                of the control are true (we want to visualize the error only if the user already interacted at least once with the control and the text is not valid). </li>
            <li>You might have noticed that we've used the ng-required directive in the firstName input instead of required. This is just another way to mark a field as required, but in this case we can use an expression to determine if a field is mandatory.
                <p>If you check the checkbox in the form, its associated firstNameRequired model variable is set to true and the firstName input becomes mandatory.</p>
            </li>
        </ul>
        <span class="filename">Example 3 : index.html</span>
        <pre><code class="language-markup">
        &lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;

&lt;head&gt;
    &lt;title&gt;&lt;/title&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;
    &lt;link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"&gt;
    &lt;script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"&gt;&lt;/script&gt;
    &lt;script src="script.js"&gt;&lt;/script&gt;
    
&lt;/head&gt;

&lt;body ng-app="mainModule"&gt;
    &lt;div ng-controller="mainController"&gt;
        &lt;div id="customValidationClassesPart"&gt;
            &lt;h3&gt;3. Custom CSS classes&lt;/h3&gt;
            &lt;form name="personForm" novalidate&gt;
                &lt;label&gt;Check for the first name to be mandatory:
          &lt;input type="checkbox" ng-model="firstNameRequired" ng-init="firstNameRequired = true" /&gt;
        &lt;/label&gt;&lt;br /&gt;
                &lt;label&gt;First name:
          &lt;input type="text"
                 name="firstName"
                 ng-required="firstNameRequired"
                 ng-model="person.firstName"
                 ng-class="getValidationCSSClass(personForm.firstName)" /&gt;
        &lt;/label&gt;
                &lt;span ng-show="personForm.firstName.$invalid" style="color: red"&gt;{{getValidationError(personForm.firstName)}}&lt;/span&gt;&lt;br /&gt;
                &lt;label&gt;Last name:
          &lt;input type="text"
                 name="lastName"
                 required
                 ng-model="person.lastName"
                 ng-class="getValidationCSSClass(personForm.lastName)" /&gt;
        &lt;/label&gt;
                &lt;span ng-show="personForm.lastName.$invalid" style="color: red"&gt;{{getValidationError(personForm.lastName)}}&lt;/span&gt;&lt;br /&gt;
            &lt;/form&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/body&gt;

&lt;/html&gt;
        </code></pre>
        <span class="filename">Example : script.js</span>
    <pre><code class="language-javascript">
    angular.module("mainModule", [])
    .controller("mainController", function($scope) {
        $scope.person = {
            firstName: null,
            lastName: null
        };

        $scope.getItemState = function(item) {

            if (item.$valid) {
                return "valid";
            } else if (item.$invalid) {
                return "invalid";
            } else {
                return "";
            }
        };

        $scope.getItemError = function(item) {
            if (item.$invalid) {
                return item.$error;
            } else {
                return null;
            }
        };

        $scope.getValidationCSSClass = function(item) {
            // We show an error only if the item has been modified
            // at least once to avoid displaying errors as soon as
            // the form is loaded (we wait for the user to interact
            // with the controls before declaring them invalid).
            return {
                invalidItem: item.$invalid && item.$dirty
            };
        };

        $scope.getValidationError = function(item) {
            // We show an error only if the item has been modified
            // at least once to avoid displaying errors as soon as
            // the form is loaded (we wait for the user to interact
            // with the controls before declaring them invalid).
            if (item.$dirty && item.$error.required) {
                return "Required field";
            } else {
                return "";
            }
        };
    });
    </code></pre>
    <span class="filename">style.css</span>
    <pre><code class="language-css">
     #defaultValidationClassesPart .ng-valid {
            border: solid green 3px;
        }
        
        #defaultValidationClassesPart .ng-invalid {
            border: solid red 3px;
        }
        
        #customValidationClassesPart .invalidItem {
            border: dashed red 2px;
        }
        
        form {
            padding: 10px;
        }
        
        textarea {
            width: 250px;
            height: 100px;
        }
    </code></pre>
        </article>
    <aside id="sidebar">
          <div class="dark">
        <h3>What We Do</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius auctor lacus nec feugiat. Phasellus sit amet ex ipsum. Praesent pharetra tincidunt tempor. Etiam velit eros, dapibus eget porta in, lacinia et magna</p>
      </div>
        </aside>
  </div>
    </section>
<footer>
      <p>UI Tutorials, Copyright &copy; 2017</p>
    </footer>
</body>
</html>
