<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Affordable and professional web design">
	  <meta name="keywords" content="web design, affordable web design, professional web design">
  	<meta name="author" content="Brad Traversy">
    <title>UI Tutorials | Welcome</title>
    
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">    
    <link rel="stylesheet" type="text/css" href="../css/MenuStyle.css">
        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="../scripts/menuScript.js"></script>
    <link rel="stylesheet" href="../css/SiteStyle.css">
    <link rel="stylesheet" type="text/css" href="../css/prism.css">
    <script src="../scripts/prism.js"></script>
    
  
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-103420198-1', 'auto');
  ga('send', 'pageview');

</script>

</head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">UI</span> Tutorials</h1>
        </div>
        <nav id='cssmenu'>            
            <div id="head-mobile"></div>
            <div class="button"></div>
            <ul>
                <li><a href="../index.html">HOME</a></li>
                <li><a href='#'>Bootstrap</a></li>
                <li class='active'><a href="#">AngularJS</a>
                  <ul>
                    <li><a href='#'>Introduction</a>
                      <ul>
                        <li><a href="01_AngularIntro_Index.html">Basic</a></li>
                        <li><a href="03_AngularIntro_Module.html">Module</a></li>
                        <li><a href="02_AngularIntro_Controller.html">Controller MVC</a></li>
                      </ul>
                    </li>
                    <li><a href='#'>Angular DOM</a>
                      <ul>
                        <li><a href="01_AngularDOM_events.html">Events</a></li>
                        <li><a href="03_AngularDOM_ngShow.html">ng Show</a></li>
                        <li><a href="02_AngularDOM_ngHide.html">ng Hide</a></li>
                      </ul>
                    </li>
                    <li><a href='#'>Filter</a>
                      <ul>
                        <li><a href="02_FilterIndex_FormatData.html">Format Data</a></li>
                        <li><a href="03_Filter_SortData.html">Sort Data</a></li>
                        <li><a href="01_FilterData.html">Filter Data</a></li>
                      </ul>
                    </li>
                    <li><a href='#'>Form</a>
                      <ul>
                        <li><a href="01Form_index.html">Form</a></li>
                        <li><a href="03_AngularDOM_ngShow.html">CheckBox</a></li>
                        <li><a href="02_AngularDOM_ngHide.html">ShowHide</a></li>
                        <li><a href="01_AngularDOM_events.html">RadioButton</a></li>
                        <li><a href="01_AngularDOM_events.html">TrackingEvents</a></li>
                        <li><a href="01_AngularDOM_events.html">Validation</a></li>
                        <li><a href="01_AngularDOM_events.html">NestedValidation</a></li>
                        <li><a href="01_AngularDOM_events.html">FormSubmission</a></li>
                        <li><a href="#">Select Element</a>
                          <ul>
                            <li><a href="09SelectDD_htmlIndex.html">Html</a></li>
                            <li><a href="09SelectDD_arrayIndex.html">Array</a></li>
                            <li><a href="09SelectDD_objectIndex.html">Object</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a href='#'>Service</a>
                      <ul>                                
                        <li><a href="01_Service_index.html">Index</a></li>
                      </ul>
                    </li>
                    <li><a href='#'>Directive</a>
                      <ul>
                        <li><a href='00_Directive_index.html'>Index</a></li>
                        <li><a href="#">Shared Scope</a>
                          <ul>
                            <li><a href='01_Scope_inheritance_index.html'>Scoope Inheritance</a></li>
                            <li><a href='02_SharedScope_index.html'>SharedScope(SS)</a></li>
                            <li><a href='03_Shared_Scope_index.html'>SS-Modifying</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Isolated Scope</a>
                          <ul>
                            <li><a href='04_Inherited_ScopeChild_index.html'>InheritedScope(Child)</a></li>
                            <li><a href='05_Child_index.html'>Child-Directive</a></li>
                            <li><a href='06_Child_index.html'>Child-ng Repeat</a></li>
                          </ul>
                        </li>
                        
                        
                        <li><a href="#">IsolatedScope</a>
                          <ul>
                            <li><a href='07_Isolated_Scope_index.html'>IsolatedScope @</a></li>
                            <li><a href='08_Isolated_Scope_index.html'>IsolatedScope =</a></li>
                            <li><a href='09_Isolated_Scope_index.html'>IsolatedScope &amp;</a></li>
                          </ul>
                        </li>
                        
                        <li><a href='#'>Directive Compile</a>
                          <ul>
                            <li><a href='01_Directive_Compile_compile.html'>Compile</a></li>
                            <li><a href='02_ Directive_Compile_controller.html'>Controller</a></li>
                            <li><a href='03_Directive_Compile_PrePostLink.html'>LinkPrePost</a></li>
                            <li><a href='04_Directive_Compile_compileCtrlLink.html'>CompileControllerLink</a></li>
                          </ul>
                        </li>
                        <li><a href='#'>Directive Link</a>
                          <ul>
                            <li><a href='01_Directive_Link_interpolation.html'>Interpolation</a></li>
                            <li><a href='02_Directive_Link_modifyDomInCompile.html'>ModifyDom</a></li>
                            <li><a href='03_Directive_Link_DomEventHandler.html'>EventHandler</a></li>
                            <li><a href='04_Directive_Link_WithoutCompile.html'>WithoutCompile</a></li>
                            <li><a href='05_Directive_Link_CompileReturn.html'>CompileReturn</a></li>
                            <li><a href='06_Directive_Link_PostOnly.html'>PostOnly</a></li>
                          </ul>
                        </li>
                        
                      </ul>
                    </li>
                    <li><a href='#'>Routing</a>
                      <ul>
                        <li><a href="01_Route_index.html">Index</a></li>
                        <li><a href="#">Code</a>
                          <ul>
                            
                            <li><a href="02_Route_Intro.html">Intro Routing</a></li>
                            <li><a href="03_Route_Parameters.html">Parameters</a></li>
                            <li><a href="04_Route_Async.html">Asynchronous</a></li>
                            <li><a href="05_Route_Redirect.html">Redirect</a></li>
                            <li><a href="06_Route_events.html">Events</a></li>
                            <li><a href="Routing/code/06 Route-routeService-events with Loading/index.htm">With Loading</a></li>
                            <li><a href="Routing/code/07 Route-routeService-with-resolve/index.htm">With Resolve</a></li>
                          </ul>
                          
                        </li>
                        
                      </ul>
                    </li>
                    <li><a href='#'>UI Route</a>
                      <ul>

                        <li><a href="01UiRoute_index.html">Index</a></li>
                        <li><a href="#">Code</a>
                          <ul>
                            
                            <li><a href="02UIRoute_Intro_Routing_index.html">Intro Routing</a></li>
                            <li><a href="03_UIRoute_RouteWithParams.html">Parameters</a></li>
                            <li><a href="04_UIRoute_StateService.html">State</a></li>
                            <li><a href="05_UIRoute_WithResolve.html">Resolve</a></li>
                            <li><a href="06_UIRoute_SingleView.html">SingleView</a></li>
                            <li><a href="07_UIRoute_MultipleViews.html">MultipleView</a></li>
                            
                          </ul>
                          
                        </li>
                        
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href='#'>Javascript</a></li>
                <li><a href='#'>NodeJS</a></li>
                
              </ul>
        </nav>
      </div>
    </header>

    <!--<section id="newsletter">
      <div class="container">
        <h1>Subscribe To Our Newsletter</h1>
        <form>
          <input type="email" placeholder="Enter Email...">
          <button type="submit" class="button_1">Subscribe</button>
        </form>
      </div>
    </section>-->

<section id="main">
      <div class="container">
    <article id="main-col">
    <h3>Nested Form </h3>
    <p>While working with forms, we might find useful to reuse common parts in different forms.</p>
        <p>For example, the fields to collect the address information of a person could be reused in many different cases. AngularJS allows us to define subforms that we can nest inside regular forms.</p>
        <ul>
            <li>The subform is nested inside the main form with the <strong>"ng-include"</strong> directive. To define a subform we have to use the <strong>"ng-form"</strong> directive and assign it a name. </li>
            <li>if we want to access the validity state of the zip field inside the subform, we have to write <strong>"personForm.addressForm.zip.$valid"</strong> because the addressForm is part of personForm and all the fields inside the subform (like zip)
                are part of the addressForm object.</li>
            <li>Both the containing form and the subform can work on <strong>the same model variable("person") defined on the scope</strong>. In this case we see that the model variable person that we've defined in the script file is used by both the forms
                so it can be automatically updated like if it was inside a single form.</li>
        </ul>
      
          <span class="filename">Example : index.html</span>
          <pre><code class="language-html">
          &lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;

&lt;head&gt;
    &lt;title&gt;&lt;/title&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;
    &lt;link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"&gt;
    &lt;script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"&gt;&lt;/script&gt;
    &lt;script src="script.js"&gt;&lt;/script&gt;
    
&lt;/head&gt;

&lt;body ng-app="mainModule"&gt;
    &lt;div ng-controller="mainController"&gt;
        &lt;form name="personForm" novalidate&gt;
            &lt;label for="firstNameEdit"&gt;First name:&lt;/label&gt;
            &lt;input id="firstNameEdit" type="text" name="firstName" ng-model="person.firstName" required /&gt;&lt;br /&gt;
            &lt;label for="lastNameEdit"&gt;Last name:&lt;/label&gt;
            &lt;input id="lastNameEdit" type="text" name="lastName" ng-model="person.lastName" required /&gt;&lt;br /&gt;
            &lt;ng-include src="'addressForm.html'"&gt;&lt;/ng-include&gt;
        &lt;/form&gt;
        &lt;br /&gt;
        &lt;strong&gt;&lt;label for="userDebugText"&gt;Person:&lt;/label&gt;&lt;/strong&gt;&lt;br /&gt;
        &lt;textarea id="userDebugText"&gt;{{person | json}}&lt;/textarea&gt;&lt;br /&gt;
        &lt;br /&gt;
        &lt;strong&gt;Form validity:&lt;/strong&gt;&lt;br /&gt;
        &lt;ul&gt;
            &lt;li&gt;&lt;strong&gt;personForm.$valid =&lt;/strong&gt; {{personForm.$valid}}&lt;/li&gt;
            &lt;li&gt;&lt;strong&gt;personForm.addressForm.$valid =&lt;/strong&gt; {{personForm.addressForm.$valid}}&lt;/li&gt;
            &lt;hr&gt;
            &lt;li&gt;&lt;strong&gt;personForm.firstName.$valid =&lt;/strong&gt; {{personForm.firstName.$valid}}&lt;/li&gt;
            &lt;li&gt;&lt;strong&gt;personForm.lastName.$valid =&lt;/strong&gt; {{personForm.lastName.$valid}}&lt;/li&gt;
            &lt;li&gt;&lt;strong&gt;personForm.addressForm.zip.$valid =&lt;/strong&gt; {{personForm.addressForm.zip.$valid}}&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/body&gt;

&lt;/html&gt; 
    </code></pre>
    <span class="filename">Included Form</span>
    <pre>
    <code class="language-html">
    &lt;ng-form name="addressForm"&gt;
  &lt;label for="addressEdit"&gt;Address:&lt;/label&gt;
  &lt;input id="addressEdit" type="text" name="address" ng-model="person.address" /&gt;&lt;br /&gt;
  &lt;label for="zipEdit"&gt;ZIP code:&lt;/label&gt;
  &lt;input id="zipEdit" type="number" name="zip" ng-model="person.zip" required /&gt;&lt;br /&gt;
  &lt;label for="cityEdit"&gt;City:&lt;/label&gt;
  &lt;input id="cityEdit" type="text" name="city" ng-model="person.city" /&gt;&lt;br /&gt;
  &lt;label for="stateProvinceEdit"&gt;State/Province:&lt;/label&gt;
  &lt;input id="stateProvinceEdit" type="text" name="stateProvince" ng-model="person.stateProvince" /&gt;&lt;br /&gt;
  &lt;label for="countryEdit"&gt;Country:&lt;/label&gt;
  &lt;input id="countryEdit" type="text" name="country" ng-model="person.country" /&gt;
&lt;/ng-form&gt;
    </code>
    </pre>
    
    <hr>
    
        <span class="filename">Example : script.js</span>
    <pre><code class="language-javascript">
   angular.module("mainModule", [])
    .controller("mainController", function($scope) {
        $scope.person = {};
    });
    </code></pre>
    <span class="filename">style.css</span>
    <pre><code class="language-css">
     label {
            display: inline-block;
            width: 120px;
            vertical-align: middle;
        }
        
        input {
            display: inline-block;
            vertical-align: middle;
        }
        
        input.ng-invalid {
            border: solid red 2px;
        }
        
        form {
            padding: 10px;
        }
        
        textarea {
            width: 250px;
            height: 160px;
        }
    </code></pre>
        </article>
    <aside id="sidebar">
          <div class="dark">
        <h3>What We Do</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius auctor lacus nec feugiat. Phasellus sit amet ex ipsum. Praesent pharetra tincidunt tempor. Etiam velit eros, dapibus eget porta in, lacinia et magna</p>
      </div>
        </aside>
  </div>
    </section>
<footer>
      <p>UI Tutorials, Copyright &copy; 2017</p>
    </footer>
</body>
</html>
